In [1]:
# Data downloaded from:
# https://opencellid.org/downloads.php?token=pk.9cec452b7499e5a3b9980a9ee219c891

In [62]:
import pandas as pd

cols = [
    "radio", "mcc", "net", "area", "cell", "unit",
    "lon", "lat", "range", "samples", "changeable",
    "created", "updated", "averageSignal"
]

# Read the full dataset (huge file)
df = pd.read_csv(r"415.csv.gz", low_memory=False, names=cols)

df

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
0,GSM,415,1,6125,997,0,35.5249,33.8812,1000,17,1,1346069142,1724045164,0
1,UMTS,415,3,901,19759729,142,35.5401,33.8967,2276,19,1,1370092590,1751919364,0
2,UMTS,415,1,3106,404257,250,35.5755,33.9066,2227,29,1,1372325529,1725390182,0
3,GSM,415,3,610,3232,0,35.6290,33.9283,500,50,1,1376686842,1727694066,0
4,UMTS,415,3,901,19756680,291,35.5277,33.8993,1000,9,1,1382433923,1751919364,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,UMTS,415,3,912,4703,92,36.0163,33.8709,1000,15,1,1768053924,1768074422,0
1972,UMTS,415,1,5101,644826,11,35.9596,33.8670,1000,7,1,1768054274,1768074422,0
1973,UMTS,415,1,5101,644827,19,35.9552,33.8653,1000,14,1,1768054294,1768074422,0
1974,UMTS,415,1,5101,645806,171,35.9525,33.8635,1000,1,1,1768054474,1768054474,0
1975,LTE,415,1,111,2235142,0,35.5166,33.8815,1000,1,1,1768564925,1768564925,0

In [63]:
df["created_dt"] = pd.to_datetime(df["created"], unit="s", utc=True)
df["updated_dt"] = pd.to_datetime(df["updated"], unit="s", utc=True)

df

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal,created_dt,updated_dt
0,GSM,415,1,6125,997,0,35.5249,33.8812,1000,17,1,1346069142,1724045164,0,2012-08-27 12:05:42+00:00,2024-08-19 05:26:04+00:00
1,UMTS,415,3,901,19759729,142,35.5401,33.8967,2276,19,1,1370092590,1751919364,0,2013-06-01 13:16:30+00:00,2025-07-07 20:16:04+00:00
2,UMTS,415,1,3106,404257,250,35.5755,33.9066,2227,29,1,1372325529,1725390182,0,2013-06-27 09:32:09+00:00,2024-09-03 19:03:02+00:00
3,GSM,415,3,610,3232,0,35.6290,33.9283,500,50,1,1376686842,1727694066,0,2013-08-16 21:00:42+00:00,2024-09-30 11:01:06+00:00
4,UMTS,415,3,901,19756680,291,35.5277,33.8993,1000,9,1,1382433923,1751919364,0,2013-10-22 09:25:23+00:00,2025-07-07 20:16:04+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,UMTS,415,3,912,4703,92,36.0163,33.8709,1000,15,1,1768053924,1768074422,0,2026-01-10 14:05:24+00:00,2026-01-10 19:47:02+00:00
1972,UMTS,415,1,5101,644826,11,35.9596,33.8670,1000,7,1,1768054274,1768074422,0,2026-01-10 14:11:14+00:00,2026-01-10 19:47:02+00:00
1973,UMTS,415,1,5101,644827,19,35.9552,33.8653,1000,14,1,1768054294,1768074422,0,2026-01-10 14:11:34+00:00,2026-01-10 19:47:02+00:00
1974,UMTS,415,1,5101,645806,171,35.9525,33.8635,1000,1,1,1768054474,1768054474,0,2026-01-10 14:14:34+00:00,2026-01-10 14:14:34+00:00
1975,LTE,415,1,111,2235142,0,35.5166,33.8815,1000,1,1,1768564925,1768564925,0,2026-01-16 12:02:05+00:00,2026-01-16 12:02:05+00:00

# QA/QC Workflow

In [ ]:
pip install sweetviz

In [6]:
import sweetviz as sv

report = sv.analyze(df)
report.show_html("qa_qc_report.html")

                                             |                                             | [  0%]   00:00 ->…

Report qa_qc_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [8]:
df[df.columns].describe()

,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
count,1976.0,1976.000000,1976.000000,1.976000e+03,1976.000000,1976.000000,1976.000000,1976.000000,1976.000000,1976.0,1.976000e+03,1.976000e+03,1976.0
mean,415.0,1.756073,1624.969130,1.148284e+07,61.181680,35.638286,33.891707,1499.440789,22.421559,1.0,1.649944e+09,1.739587e+09,0.0
std,0.0,0.970039,2299.167254,3.218412e+07,126.660874,0.140682,0.141321,1851.857448,23.351750,0.0,1.022820e+08,1.275576e+07,0.0
min,415.0,1.000000,101.000000,6.200000e+01,-1.000000,35.417300,32.996100,500.000000,1.000000,1.0,1.346069e+09,1.722169e+09,0.0
25%,415.0,1.000000,212.000000,6.690628e+05,-1.000000,35.530300,33.835425,1000.000000,6.000000,1.0,1.629458e+09,1.727248e+09,0.0
50%,415.0,1.000000,414.000000,2.209029e+06,-1.000000,35.592550,33.888900,1000.000000,16.000000,1.0,1.675558e+09,1.738773e+09,0.0
75%,415.0,3.000000,2104.000000,1.102913e+07,18.000000,35.679450,33.925450,1000.000000,30.000000,1.0,1.727231e+09,1.751919e+09,0.0
max,415.0,3.000000,9999.000000,1.969260e+08,510.000000,36.202200,34.451400,24120.000000,170.000000,1.0,1.768565e+09,1.768565e+09,0.0

## TimeStamp Check (created < updated)

In [14]:
df['created'] = pd.to_datetime(df['created'], errors='coerce')
df['updated'] = pd.to_datetime(df['updated'], errors='coerce')

future = df[df['created'] > pd.Timestamp.now()]
order_error = df[df['created'] > df['updated']]

order_error

Empty DataFrame
Columns: [radio, mcc, net, area, cell, unit, lon, lat, range, samples, changeable, created, updated, averageSignal, created_dt, updated_dt]
Index: []

## Duplicate Spatial Locations

In [15]:
df.duplicated(subset=['lat','lon']).sum()

40

In [17]:
# Compare each row in the duplicates
for idx, group in dupes.groupby(['lat','lon']):
    print(f"\nDuplicate location: {idx}")
    print(group)
    print("Columns that differ:")
    differing_cols = group.loc[:, group.nunique() > 1].columns.tolist()
    print(differing_cols)

Duplicate location: (33.0366, 35.4632)
     radio  mcc  net  area  cell  unit      lon      lat  range  samples  \
1527   GSM  415    3  2003  7362    -1  35.4632  33.0366   1000        1
1528   GSM  415    3  2003  7823    -1  35.4632  33.0366   1000        1
1530   GSM  415    3   623  7792    -1  35.4632  33.0366   1000        1

      changeable                       created                       updated  \
1527           1 1970-01-01 00:00:01.735879923 1970-01-01 00:00:01.735879923
1528           1 1970-01-01 00:00:01.735878877 1970-01-01 00:00:01.735878877
1530           1 1970-01-01 00:00:01.735879712 1970-01-01 00:00:01.735879712

      averageSignal                created_dt                updated_dt
1527              0 2025-01-03 04:52:03+00:00 2025-01-03 04:52:03+00:00
1528              0 2025-01-03 04:34:37+00:00 2025-01-03 04:34:37+00:00
1530              0 2025-01-03 04:48:32+00:00 2025-01-03 04:48:32+00:00
Columns that differ:
['area', 'cell', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.037, 35.4643)
     radio  mcc  net  area   cell  unit      lon     lat  range  samples  \
1526   GSM  415    3  2003    873    -1  35.4643  33.037   1000        1
1529   GSM  415    3  2003    872    -1  35.4643  33.037   1000        1
1531   GSM  415    3  2003  12102    -1  35.4643  33.037   1000        1

      changeable                       created                       updated  \
1526           1 1970-01-01 00:00:01.735880015 1970-01-01 00:00:01.735880015
1529           1 1970-01-01 00:00:01.735880015 1970-01-01 00:00:01.735880015
1531           1 1970-01-01 00:00:01.735880015 1970-01-01 00:00:01.735880015

      averageSignal                created_dt                updated_dt
1526              0 2025-01-03 04:53:35+00:00 2025-01-03 04:53:35+00:00
1529              0 2025-01-03 04:53:35+00:00 2025-01-03 04:53:35+00:00
1531              0 2025-01-03 04:53:35+00:00 2025-01-03 04:53:35+00:00
Columns that differ:
['cell']

Duplicate location: (33.7279, 35.8585)
     radio  mcc  net  area      cell  unit      lon      lat  range  samples  \
205   UMTS  415    1  5102    383471   164  35.8585  33.7279   1000       86
1145   LTE  415    1   113  11540225    -1  35.8585  33.7279    831      103

      changeable                       created                       updated  \
205            1 1970-01-01 00:00:01.463245718 1970-01-01 00:00:01.726301523
1145           1 1970-01-01 00:00:01.722585787 1970-01-01 00:00:01.723202289

      averageSignal                created_dt                updated_dt
205               0 2016-05-14 17:08:38+00:00 2024-09-14 08:12:03+00:00
1145              0 2024-08-02 08:03:07+00:00 2024-08-09 11:18:09+00:00
Columns that differ:
['radio', 'area', 'cell', 'unit', 'range', 'samples', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.7685, 35.8859)
     radio  mcc  net  area    cell  unit      lon      lat  range  samples  \
1283  UMTS  415    1  5102  383713   284  35.8859  33.7685   1000        8
1305  UMTS  415    1  5102  383271   188  35.8859  33.7685   1000       12

      changeable                       created                       updated  \
1283           1 1970-01-01 00:00:01.723082565 1970-01-01 00:00:01.723202287
1305           1 1970-01-01 00:00:01.723091838 1970-01-01 00:00:01.723195026

      averageSignal                created_dt                updated_dt
1283              0 2024-08-08 02:02:45+00:00 2024-08-09 11:18:07+00:00
1305              0 2024-08-08 04:37:18+00:00 2024-08-09 09:17:06+00:00
Columns that differ:
['cell', 'unit', 'samples', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.7735, 35.4996)
     radio  mcc  net  area      cell  unit      lon      lat  range  samples  \
1550   LTE  415    1   215  11084035    -1  35.4996  33.7735   1000        1
1551  UMTS  415    1  9101    103509   343  35.4996  33.7735   1000        1

      changeable                       created                       updated  \
1550           1 1970-01-01 00:00:01.737102900 1970-01-01 00:00:01.737102900
1551           1 1970-01-01 00:00:01.737102900 1970-01-01 00:00:01.737102900

      averageSignal                created_dt                updated_dt
1550              0 2025-01-17 08:35:00+00:00 2025-01-17 08:35:00+00:00
1551              0 2025-01-17 08:35:00+00:00 2025-01-17 08:35:00+00:00
Columns that differ:
['radio', 'area', 'cell', 'unit']

Duplicate location: (33.8319, 35.9211)
     radio  mcc  net  area       cell  unit      lon      lat  range  samples  \
1520  UMTS  415    3   912  196785995   419  35.9211  33.8319   1000        2
1521  UMTS  415    3   912  196786000   419  35.9211  33.8319   1000        2
1522  UMTS  415    3   912  196795995   419  35.9211  33.8319   1000        1
1523  UMTS  415    3   912  196785993   417  35.9211  33.8319   1000        1
1524  UMTS  415    3   912  196795998   419  35.9211  33.8319   1000        1

      changeable                       created                       updated  \
1520           1 1970-01-01 00:00:01.730874229 1970-01-01 00:00:01.730963762
1521           1 1970-01-01 00:00:01.730876299 1970-01-01 00:00:01.730963763
1522           1 1970-01-01 00:00:01.730876669 1970-01-01 00:00:01.730876669
1523           1 1970-01-01 00:00:01.730881830 1970-01-01 00:00:01.730881830
1524           1 1970-01-01 00:00:01.730887790 1970-01-01 00:00:01.730887790

      averageSignal                created_dt                updated_dt
1520              0 2024-11-06 06:23:49+00:00 2024-11-07 07:16:02+00:00
1521              0 2024-11-06 06:58:19+00:00 2024-11-07 07:16:03+00:00
1522              0 2024-11-06 07:04:29+00:00 2024-11-06 07:04:29+00:00
1523              0 2024-11-06 08:30:30+00:00 2024-11-06 08:30:30+00:00
1524              0 2024-11-06 10:09:50+00:00 2024-11-06 10:09:50+00:00
Columns that differ:
['cell', 'unit', 'samples', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8322, 35.5684)
     radio  mcc  net  area    cell  unit      lon      lat  range  samples  \
1360  UMTS  415    1  3103  671922   174  35.5684  33.8322   1000        2
1370  UMTS  415    1  3103  692011   398  35.5684  33.8322   1000        6

      changeable                       created                       updated  \
1360           1 1970-01-01 00:00:01.723629647 1970-01-01 00:00:01.723649522
1370           1 1970-01-01 00:00:01.724024390 1970-01-01 00:00:01.724045162

      averageSignal                created_dt                updated_dt
1360              0 2024-08-14 10:00:47+00:00 2024-08-14 15:32:02+00:00
1370              0 2024-08-18 23:39:50+00:00 2024-08-19 05:26:02+00:00
Columns that differ:
['cell', 'unit', 'samples', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8449, 35.5225)
     radio  mcc  net  area     cell  unit      lon      lat  range  samples  \
1914   LTE  415    3  5002  1915912    -1  35.5225  33.8449   1000        2
1915   LTE  415    3  5002  1915937    -1  35.5225  33.8449   1000        2

      changeable                       created                       updated  \
1914           1 1970-01-01 00:00:01.761374279 1970-01-01 00:00:01.761397746
1915           1 1970-01-01 00:00:01.761374469 1970-01-01 00:00:01.761397746

      averageSignal                created_dt                updated_dt
1914              0 2025-10-25 06:37:59+00:00 2025-10-25 13:09:06+00:00
1915              0 2025-10-25 06:41:09+00:00 2025-10-25 13:09:06+00:00
Columns that differ:
['cell', 'created', 'created_dt']

Duplicate location: (33.8453, 35.5223)
     radio  mcc  net  area      cell  unit      lon      lat  range  samples  \
1911  UMTS  415    1  3103  19816721   255  35.5223  33.8453   1000        1
1912   LTE  415    3  5002   1915908    -1  35.5223  33.8453   1000        1
1913   LTE  415    3  5002   1915907    -1  35.5223  33.8453   1000        3

      changeable                       created                       updated  \
1911           1 1970-01-01 00:00:01.761374118 1970-01-01 00:00:01.761374118
1912           1 1970-01-01 00:00:01.761374208 1970-01-01 00:00:01.761374208
1913           1 1970-01-01 00:00:01.761374193 1970-01-01 00:00:01.761397746

      averageSignal                created_dt                updated_dt
1911              0 2025-10-25 06:35:18+00:00 2025-10-25 06:35:18+00:00
1912              0 2025-10-25 06:36:48+00:00 2025-10-25 06:36:48+00:00
1913              0 2025-10-25 06:36:33+00:00 2025-10-25 13:09:06+00:00
Columns that differ:
['radio', 'net', 'area', 'cell', 'unit', 'samples', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8455, 35.5189)
     radio  mcc  net  area      cell  unit      lon      lat  range  samples  \
1541   LTE  415    1   214  10577928    -1  35.5189  33.8455   1000        1
1543  UMTS  415    1  3103    674482   497  35.5189  33.8455   1000        1
1544  UMTS  415    1  3103    672462     0  35.5189  33.8455   1000        1
1545   LTE  415    1   215  10523398    -1  35.5189  33.8455   1000        1
1546   LTE  415    1   214  10518019    -1  35.5189  33.8455   1000        1

      changeable                       created                       updated  \
1541           1 1970-01-01 00:00:01.736949541 1970-01-01 00:00:01.736949541
1543           1 1970-01-01 00:00:01.736949551 1970-01-01 00:00:01.736949551
1544           1 1970-01-01 00:00:01.736949551 1970-01-01 00:00:01.736949551
1545           1 1970-01-01 00:00:01.736949601 1970-01-01 00:00:01.736949601
1546           1 1970-01-01 00:00:01.736949611 1970-01-01 00:00:01.736949611

      averageSignal                created_dt                updated_dt
1541              0 2025-01-15 13:59:01+00:00 2025-01-15 13:59:01+00:00
1543              0 2025-01-15 13:59:11+00:00 2025-01-15 13:59:11+00:00
1544              0 2025-01-15 13:59:11+00:00 2025-01-15 13:59:11+00:00
1545              0 2025-01-15 14:00:01+00:00 2025-01-15 14:00:01+00:00
1546              0 2025-01-15 14:00:11+00:00 2025-01-15 14:00:11+00:00
Columns that differ:
['radio', 'area', 'cell', 'unit', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8456, 35.5189)
     radio  mcc  net  area      cell  unit      lon      lat  range  samples  \
1534   LTE  415    1   214  10519300    -1  35.5189  33.8456   1000        2
1535  UMTS  415    1  9101     76609   193  35.5189  33.8456   1000        3
1536   LTE  415    1   215  10523399    -1  35.5189  33.8456   1000        1

      changeable                       created                       updated  \
1534           1 1970-01-01 00:00:01.736949352 1970-01-01 00:00:01.736969342
1535           1 1970-01-01 00:00:01.736949352 1970-01-01 00:00:01.736969462
1536           1 1970-01-01 00:00:01.736949362 1970-01-01 00:00:01.736949362

      averageSignal                created_dt                updated_dt
1534              0 2025-01-15 13:55:52+00:00 2025-01-15 19:29:02+00:00
1535              0 2025-01-15 13:55:52+00:00 2025-01-15 19:31:02+00:00
1536              0 2025-01-15 13:56:02+00:00 2025-01-15 13:56:02+00:00
Columns that differ:
['radio', 'area', 'cell', 'unit', 'samples', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8457, 35.5189)
     radio  mcc  net  area   cell  unit      lon      lat  range  samples  \
1538  UMTS  415    1  9101  82347   153  35.5189  33.8457   1000        2
1539  UMTS  415    1  9101  81609   193  35.5189  33.8457   1000        2

      changeable                       created                       updated  \
1538           1 1970-01-01 00:00:01.736949422 1970-01-01 00:00:01.736969462
1539           1 1970-01-01 00:00:01.736949462 1970-01-01 00:00:01.736969462

      averageSignal                created_dt                updated_dt
1538              0 2025-01-15 13:57:02+00:00 2025-01-15 19:31:02+00:00
1539              0 2025-01-15 13:57:42+00:00 2025-01-15 19:31:02+00:00
Columns that differ:
['cell', 'unit', 'created', 'created_dt']

Duplicate location: (33.8458, 35.5189)
     radio  mcc  net  area      cell  unit      lon      lat  range  samples  \
1540   LTE  415    1   215  10523394    -1  35.5189  33.8458   1000        1
1542  UMTS  415    1   214  10519300     0  35.5189  33.8458   1000        1

      changeable                       created                       updated  \
1540           1 1970-01-01 00:00:01.736949482 1970-01-01 00:00:01.736949482
1542           1 1970-01-01 00:00:01.736949531 1970-01-01 00:00:01.736949531

      averageSignal                created_dt                updated_dt
1540              0 2025-01-15 13:58:02+00:00 2025-01-15 13:58:02+00:00
1542              0 2025-01-15 13:58:51+00:00 2025-01-15 13:58:51+00:00
Columns that differ:
['radio', 'area', 'cell', 'unit', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8493, 35.8988)
     radio  mcc  net  area      cell  unit      lon      lat  range  samples  \
1227   LTE  415    1   115  11524614    -1  35.8988  33.8493   1000        3
1228   LTE  415    1   115  11555079    -1  35.8988  33.8493   1000        1

      changeable                       created                       updated  \
1227           1 1970-01-01 00:00:01.722846937 1970-01-01 00:00:01.722868923
1228           1 1970-01-01 00:00:01.722846987 1970-01-01 00:00:01.722846987

      averageSignal                created_dt                updated_dt
1227              0 2024-08-05 08:35:37+00:00 2024-08-05 14:42:03+00:00
1228              0 2024-08-05 08:36:27+00:00 2024-08-05 08:36:27+00:00
Columns that differ:
['cell', 'samples', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8516, 35.5386)
    radio  mcc  net  area      cell  unit      lon      lat  range  samples  \
180  UMTS  415    3   932  19824908   168  35.5386  33.8516   1000       11
269  UMTS  415    3   932  19814903   168  35.5386  33.8516   1000        9

     changeable                       created                       updated  \
180           1 1970-01-01 00:00:01.458870945 1970-01-01 00:00:01.739349721
269           1 1970-01-01 00:00:01.478722818 1970-01-01 00:00:01.739349721

     averageSignal                created_dt                updated_dt
180              0 2016-03-25 01:55:45+00:00 2025-02-12 08:42:01+00:00
269              0 2016-11-09 20:20:18+00:00 2025-02-12 08:42:01+00:00
Columns that differ:
['cell', 'samples', 'created', 'created_dt']

Duplicate location: (33.852, 35.539)
     radio  mcc  net  area      cell  unit     lon     lat  range  samples  \
203   UMTS  415    3   932  19824903   168  35.539  33.852   1000        9
1344  UMTS  415    1  3103    670811    81  35.539  33.852   1000       13

      changeable                       created                       updated  \
203            1 1970-01-01 00:00:01.461644934 1970-01-01 00:00:01.739349721
1344           1 1970-01-01 00:00:01.723627909 1970-01-01 00:00:01.749686043

      averageSignal                created_dt                updated_dt
203               0 2016-04-26 04:28:54+00:00 2025-02-12 08:42:01+00:00
1344              0 2024-08-14 09:31:49+00:00 2025-06-11 23:54:03+00:00
Columns that differ:
['net', 'area', 'cell', 'unit', 'samples', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8787, 35.5126)
     radio  mcc  net  area      cell  unit      lon      lat  range  samples  \
1429  UMTS  415    1  3103    673581   174  35.5126  33.8787   1000        6
1430   LTE  415    1   212  10534157    -1  35.5126  33.8787   1000        6

      changeable                       created                       updated  \
1429           1 1970-01-01 00:00:01.726466037 1970-01-01 00:00:01.726486503
1430           1 1970-01-01 00:00:01.726466037 1970-01-01 00:00:01.726486503

      averageSignal                created_dt                updated_dt
1429              0 2024-09-16 05:53:57+00:00 2024-09-16 11:35:03+00:00
1430              0 2024-09-16 05:53:57+00:00 2024-09-16 11:35:03+00:00
Columns that differ:
['radio', 'area', 'cell', 'unit']

Duplicate location: (33.8823, 35.5448)
     radio  mcc  net  area     cell  unit      lon      lat  range  samples  \
1827   LTE  415    3   803  1818886    -1  35.5448  33.8823   1000        1
1829   LTE  415    3   803  1818911    -1  35.5448  33.8823   1000        1

      changeable                       created                       updated  \
1827           1 1970-01-01 00:00:01.739412110 1970-01-01 00:00:01.739412110
1829           1 1970-01-01 00:00:01.739412530 1970-01-01 00:00:01.739412530

      averageSignal                created_dt                updated_dt
1827              0 2025-02-13 02:01:50+00:00 2025-02-13 02:01:50+00:00
1829              0 2025-02-13 02:08:50+00:00 2025-02-13 02:08:50+00:00
Columns that differ:
['cell', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8849, 35.4957)
     radio  mcc  net  area     cell  unit      lon      lat  range  samples  \
1939   LTE  415    3   101  1800194    -1  35.4957  33.8849   1000        1
1940   LTE  415    3   101  1800223    -1  35.4957  33.8849   1000        1

      changeable                       created                       updated  \
1939           1 1970-01-01 00:00:01.761616024 1970-01-01 00:00:01.761616024
1940           1 1970-01-01 00:00:01.761616034 1970-01-01 00:00:01.761616034

      averageSignal                created_dt                updated_dt
1939              0 2025-10-28 01:47:04+00:00 2025-10-28 01:47:04+00:00
1940              0 2025-10-28 01:47:14+00:00 2025-10-28 01:47:14+00:00
Columns that differ:
['cell', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8886, 35.5186)
     radio  mcc  net  area      cell  unit      lon      lat  range  samples  \
1752   LTE  415    1   414  10496263    -1  35.5186  33.8886   1000        1
1818   LTE  415    3   802   1833738    -1  35.5186  33.8886   1000        2

      changeable                       created                       updated  \
1752           1 1970-01-01 00:00:01.739362733 1970-01-01 00:00:01.739362733
1818           1 1970-01-01 00:00:01.739362732 1970-01-01 00:00:01.751919364

      averageSignal                created_dt                updated_dt
1752              0 2025-02-12 12:18:53+00:00 2025-02-12 12:18:53+00:00
1818              0 2025-02-12 12:18:52+00:00 2025-07-07 20:16:04+00:00
Columns that differ:
['net', 'area', 'cell', 'samples', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8891, 35.5199)
     radio  mcc  net  area    cell  unit      lon      lat  range  samples  \
1754  UMTS  415    1  8106  539299     5  35.5199  33.8891   1000        3
1755  UMTS  415    1  8106  540920     0  35.5199  33.8891   1000        1

      changeable                       created                       updated  \
1754           1 1970-01-01 00:00:01.739363765 1970-01-01 00:00:01.749686046
1755           1 1970-01-01 00:00:01.739364365 1970-01-01 00:00:01.739364365

      averageSignal                created_dt                updated_dt
1754              0 2025-02-12 12:36:05+00:00 2025-06-11 23:54:06+00:00
1755              0 2025-02-12 12:46:05+00:00 2025-02-12 12:46:05+00:00
Columns that differ:
['cell', 'unit', 'samples', 'created', 'updated', 'created_dt', 'updated_dt']

Duplicate location: (33.8947, 35.4981)
     radio  mcc  net  area      cell  unit      lon      lat  range  samples  \
1445   LTE  415    1   413  10561543    -1  35.4981  33.8947   1000        2
1446  UMTS  415    1  3103    669063   266  35.4981  33.8947   1000        2

      changeable                       created                       updated  \
1445           1 1970-01-01 00:00:01.727227869 1970-01-01 00:00:01.727248143
1446           1 1970-01-01 00:00:01.727227869 1970-01-01 00:00:01.727248143

      averageSignal                created_dt                updated_dt
1445              0 2024-09-25 01:31:09+00:00 2024-09-25 07:09:03+00:00

## Remove points outside Leb

In [20]:
import geopandas as gpd

In [21]:
leb_path = r"C:\Users\User\OneDrive\Desktop\Administrative_Divisions\Administrative_Divisions.gdb"

leb = gpd.read_file(leb_path, layer="Lebanon")

In [64]:
gdf = gpd.GeoDataFrame(
    df,
    geometry=gpd.points_from_xy(df.lon, df.lat),
    crs="EPSG:4326"
)

In [65]:
gdf = gdf.to_crs(leb.crs)

In [66]:
# spatial clip
gdf_clipped = gpd.sjoin(gdf, leb, predicate="within", how="inner")

In [67]:
print("Before:", len(gdf))
print("After:", len(gdf_clipped))
print("Removed:", len(gdf) - len(gdf_clipped))

Before: 1976
After: 1952
Removed: 24

In [68]:
# drop join cols
gdf_clipped = gdf_clipped.drop(columns=["index_right"])

## Data Enrichment

### Decode Coded Fields

In [69]:
radio_map = {
    "GSM": "2G",
    "UMTS": "3G",
    "LTE": "4G"
}

net_map = {
    1: "Alfa",
    3: "Touch"
}

In [70]:
gdf_clipped["network_type"] = gdf_clipped["radio"].map(radio_map)
gdf_clipped["provider"] = gdf_clipped["net"].map(net_map)

### Add Gov Name

In [71]:
admin_path = r"C:\Users\User\OneDrive\Desktop\Administrative_Divisions\Administrative_Divisions.gdb"

gov = gpd.read_file(admin_path, layer="Admin1")

gov = gov[['Name_En', 'geometry']]

In [72]:
gdf_joined = gpd.sjoin(
    gdf_clipped,
    gov,
    predicate="within",
    how="left"
)

In [73]:
gdf_joined = gdf_joined.rename(columns={"Name_En": "governorate"})
gdf_joined = gdf_joined.drop(columns=["index_right"])

gdf_joined

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,...,updated,averageSignal,created_dt,updated_dt,geometry,Shape_Length,Shape_Area,network_type,provider,governorate
0,GSM,415,1,6125,997,0,35.5249,33.8812,1000,17,...,1724045164,0,2012-08-27 12:05:42+00:00,2024-08-19 05:26:04+00:00,POINT (35.5249 33.8812),7.864307,0.9996,2G,Alfa,Beirut
1,UMTS,415,3,901,19759729,142,35.5401,33.8967,2276,19,...,1751919364,0,2013-06-01 13:16:30+00:00,2025-07-07 20:16:04+00:00,POINT (35.5401 33.8967),7.864307,0.9996,3G,Touch,Mount Lebanon
2,UMTS,415,1,3106,404257,250,35.5755,33.9066,2227,29,...,1725390182,0,2013-06-27 09:32:09+00:00,2024-09-03 19:03:02+00:00,POINT (35.5755 33.9066),7.864307,0.9996,3G,Alfa,Mount Lebanon
3,GSM,415,3,610,3232,0,35.6290,33.9283,500,50,...,1727694066,0,2013-08-16 21:00:42+00:00,2024-09-30 11:01:06+00:00,POINT (35.629 33.9283),7.864307,0.9996,2G,Touch,Mount Lebanon
4,UMTS,415,3,901,19756680,291,35.5277,33.8993,1000,9,...,1751919364,0,2013-10-22 09:25:23+00:00,2025-07-07 20:16:04+00:00,POINT (35.5277 33.8993),7.864307,0.9996,3G,Touch,Beirut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,UMTS,415,3,912,4703,92,36.0163,33.8709,1000,15,...,1768074422,0,2026-01-10 14:05:24+00:00,2026-01-10 19:47:02+00:00,POINT (36.0163 33.8709),7.864307,0.9996,3G,Touch,Bekaa
1972,UMTS,415,1,5101,644826,11,35.9596,33.8670,1000,7,...,1768074422,0,2026-01-10 14:11:14+00:00,2026-01-10 19:47:02+00:00,POINT (35.9596 33.867),7.864307,0.9996,3G,Alfa,Bekaa
1973,UMTS,415,1,5101,644827,19,35.9552,33.8653,1000,14,...,1768074422,0,2026-01-10 14:11:34+00:00,2026-01-10 19:47:02+00:00,POINT (35.9552 33.8653),7.864307,0.9996,3G,Alfa,Bekaa
1974,UMTS,415,1,5101,645806,171,35.9525,33.8635,1000,1,...,1768054474,0,2026-01-10 14:14:34+00:00,2026-01-10 14:14:34+00:00,POINT (35.9525 33.8635),7.864307,0.9996,3G,Alfa,Bekaa
1975,LTE,415,1,111,2235142,0,35.5166,33.8815,1000,1,...,1768564925,0,2026-01-16 12:02:05+00:00,2026-01-16 12:02:05+00:00,POINT (35.5166 33.8815),7.864307,0.9996,4G,Alfa,Beirut

### Add District Name

In [74]:
dis = gpd.read_file(admin_path, layer="Admin2")

dis = dis[['Name_En', 'geometry']]

In [75]:
gdf_joined = gpd.sjoin(
    gdf_joined,
    dis,
    predicate="within",
    how="left"
)

In [76]:
gdf_joined = gdf_joined.rename(columns={"Name_En": "district"})
gdf_joined = gdf_joined.drop(columns=["index_right"])

gdf_joined

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,...,averageSignal,created_dt,updated_dt,geometry,Shape_Length,Shape_Area,network_type,provider,governorate,district
0,GSM,415,1,6125,997,0,35.5249,33.8812,1000,17,...,0,2012-08-27 12:05:42+00:00,2024-08-19 05:26:04+00:00,POINT (35.5249 33.8812),7.864307,0.9996,2G,Alfa,Beirut,Beirut
1,UMTS,415,3,901,19759729,142,35.5401,33.8967,2276,19,...,0,2013-06-01 13:16:30+00:00,2025-07-07 20:16:04+00:00,POINT (35.5401 33.8967),7.864307,0.9996,3G,Touch,Mount Lebanon,El Meten
2,UMTS,415,1,3106,404257,250,35.5755,33.9066,2227,29,...,0,2013-06-27 09:32:09+00:00,2024-09-03 19:03:02+00:00,POINT (35.5755 33.9066),7.864307,0.9996,3G,Alfa,Mount Lebanon,El Meten
3,GSM,415,3,610,3232,0,35.6290,33.9283,500,50,...,0,2013-08-16 21:00:42+00:00,2024-09-30 11:01:06+00:00,POINT (35.629 33.9283),7.864307,0.9996,2G,Touch,Mount Lebanon,El Meten
4,UMTS,415,3,901,19756680,291,35.5277,33.8993,1000,9,...,0,2013-10-22 09:25:23+00:00,2025-07-07 20:16:04+00:00,POINT (35.5277 33.8993),7.864307,0.9996,3G,Touch,Beirut,Beirut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,UMTS,415,3,912,4703,92,36.0163,33.8709,1000,15,...,0,2026-01-10 14:05:24+00:00,2026-01-10 19:47:02+00:00,POINT (36.0163 33.8709),7.864307,0.9996,3G,Touch,Bekaa,Zahle
1972,UMTS,415,1,5101,644826,11,35.9596,33.8670,1000,7,...,0,2026-01-10 14:11:14+00:00,2026-01-10 19:47:02+00:00,POINT (35.9596 33.867),7.864307,0.9996,3G,Alfa,Bekaa,Zahle
1973,UMTS,415,1,5101,644827,19,35.9552,33.8653,1000,14,...,0,2026-01-10 14:11:34+00:00,2026-01-10 19:47:02+00:00,POINT (35.9552 33.8653),7.864307,0.9996,3G,Alfa,Bekaa,Zahle
1974,UMTS,415,1,5101,645806,171,35.9525,33.8635,1000,1,...,0,2026-01-10 14:14:34+00:00,2026-01-10 14:14:34+00:00,POINT (35.9525 33.8635),7.864307,0.9996,3G,Alfa,Bekaa,Zahle
1975,LTE,415,1,111,2235142,0,35.5166,33.8815,1000,1,...,0,2026-01-16 12:02:05+00:00,2026-01-16 12:02:05+00:00,POINT (35.5166 33.8815),7.864307,0.9996,4G,Alfa,Beirut,Beirut

### Add Elevation

In [78]:
import rasterio
import rasterio.mask
from shapely.geometry import Point

# --- Load DEM raster ---
dem_path = r"C:\Users\User\M2 - GeoAI\M2 Thesis\Processed Data\DEM\DEM.tif"
dem = rasterio.open(dem_path)

# Reproject towers to DEM CRS
gdf_proj = gdf_joined.to_crs(dem.crs)

# Safe elevation sampling
elevations = []
dem_array = dem.read(1)  

for geom in gdf_proj.geometry:
    try:
        row, col = dem.index(geom.x, geom.y)
        # make sure row/col are within bounds
        if 0 <= row < dem_array.shape[0] and 0 <= col < dem_array.shape[1]:
            elev = dem_array[row, col]
        else:
            elev = np.nan  # outside DEM
    except:
        elev = np.nan
    elevations.append(elev)

# --- Add elevation column ---
gdf_joined['elevation_m'] = elevations

gdf_joined

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,...,created_dt,updated_dt,geometry,Shape_Length,Shape_Area,network_type,provider,governorate,district,elevation_m
0,GSM,415,1,6125,997,0,35.5249,33.8812,1000,17,...,2012-08-27 12:05:42+00:00,2024-08-19 05:26:04+00:00,POINT (35.5249 33.8812),7.864307,0.9996,2G,Alfa,Beirut,Beirut,43
1,UMTS,415,3,901,19759729,142,35.5401,33.8967,2276,19,...,2013-06-01 13:16:30+00:00,2025-07-07 20:16:04+00:00,POINT (35.5401 33.8967),7.864307,0.9996,3G,Touch,Mount Lebanon,El Meten,28
2,UMTS,415,1,3106,404257,250,35.5755,33.9066,2227,29,...,2013-06-27 09:32:09+00:00,2024-09-03 19:03:02+00:00,POINT (35.5755 33.9066),7.864307,0.9996,3G,Alfa,Mount Lebanon,El Meten,32
3,GSM,415,3,610,3232,0,35.6290,33.9283,500,50,...,2013-08-16 21:00:42+00:00,2024-09-30 11:01:06+00:00,POINT (35.629 33.9283),7.864307,0.9996,2G,Touch,Mount Lebanon,El Meten,386
4,UMTS,415,3,901,19756680,291,35.5277,33.8993,1000,9,...,2013-10-22 09:25:23+00:00,2025-07-07 20:16:04+00:00,POINT (35.5277 33.8993),7.864307,0.9996,3G,Touch,Beirut,Beirut,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,UMTS,415,3,912,4703,92,36.0163,33.8709,1000,15,...,2026-01-10 14:05:24+00:00,2026-01-10 19:47:02+00:00,POINT (36.0163 33.8709),7.864307,0.9996,3G,Touch,Bekaa,Zahle,956
1972,UMTS,415,1,5101,644826,11,35.9596,33.8670,1000,7,...,2026-01-10 14:11:14+00:00,2026-01-10 19:47:02+00:00,POINT (35.9596 33.867),7.864307,0.9996,3G,Alfa,Bekaa,Zahle,970
1973,UMTS,415,1,5101,644827,19,35.9552,33.8653,1000,14,...,2026-01-10 14:11:34+00:00,2026-01-10 19:47:02+00:00,POINT (35.9552 33.8653),7.864307,0.9996,3G,Alfa,Bekaa,Zahle,970
1974,UMTS,415,1,5101,645806,171,35.9525,33.8635,1000,1,...,2026-01-10 14:14:34+00:00,2026-01-10 14:14:34+00:00,POINT (35.9525 33.8635),7.864307,0.9996,3G,Alfa,Bekaa,Zahle,971
1975,LTE,415,1,111,2235142,0,35.5166,33.8815,1000,1,...,2026-01-16 12:02:05+00:00,2026-01-16 12:02:05+00:00,POINT (35.5166 33.8815),7.864307,0.9996,4G,Alfa,Beirut,Beirut,73

In [79]:
df_enriched = pd.DataFrame(gdf_joined.drop(columns=["geometry", "Shape_Length", "Shape_Area"]))
df_enriched

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,...,created,updated,averageSignal,created_dt,updated_dt,network_type,provider,governorate,district,elevation_m
0,GSM,415,1,6125,997,0,35.5249,33.8812,1000,17,...,1346069142,1724045164,0,2012-08-27 12:05:42+00:00,2024-08-19 05:26:04+00:00,2G,Alfa,Beirut,Beirut,43
1,UMTS,415,3,901,19759729,142,35.5401,33.8967,2276,19,...,1370092590,1751919364,0,2013-06-01 13:16:30+00:00,2025-07-07 20:16:04+00:00,3G,Touch,Mount Lebanon,El Meten,28
2,UMTS,415,1,3106,404257,250,35.5755,33.9066,2227,29,...,1372325529,1725390182,0,2013-06-27 09:32:09+00:00,2024-09-03 19:03:02+00:00,3G,Alfa,Mount Lebanon,El Meten,32
3,GSM,415,3,610,3232,0,35.6290,33.9283,500,50,...,1376686842,1727694066,0,2013-08-16 21:00:42+00:00,2024-09-30 11:01:06+00:00,2G,Touch,Mount Lebanon,El Meten,386
4,UMTS,415,3,901,19756680,291,35.5277,33.8993,1000,9,...,1382433923,1751919364,0,2013-10-22 09:25:23+00:00,2025-07-07 20:16:04+00:00,3G,Touch,Beirut,Beirut,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,UMTS,415,3,912,4703,92,36.0163,33.8709,1000,15,...,1768053924,1768074422,0,2026-01-10 14:05:24+00:00,2026-01-10 19:47:02+00:00,3G,Touch,Bekaa,Zahle,956
1972,UMTS,415,1,5101,644826,11,35.9596,33.8670,1000,7,...,1768054274,1768074422,0,2026-01-10 14:11:14+00:00,2026-01-10 19:47:02+00:00,3G,Alfa,Bekaa,Zahle,970
1973,UMTS,415,1,5101,644827,19,35.9552,33.8653,1000,14,...,1768054294,1768074422,0,2026-01-10 14:11:34+00:00,2026-01-10 19:47:02+00:00,3G,Alfa,Bekaa,Zahle,970
1974,UMTS,415,1,5101,645806,171,35.9525,33.8635,1000,1,...,1768054474,1768054474,0,2026-01-10 14:14:34+00:00,2026-01-10 14:14:34+00:00,3G,Alfa,Bekaa,Zahle,971
1975,LTE,415,1,111,2235142,0,35.5166,33.8815,1000,1,...,1768564925,1768564925,0,2026-01-16 12:02:05+00:00,2026-01-16 12:02:05+00:00,4G,Alfa,Beirut,Beirut,73

In [80]:
df_enriched.to_csv(r"C:\Users\User\OneDrive\Desktop\Cell Towers\cell_towers_lebanon.csv", index=False)